In [1]:
!pip install wget

Requirement already satisfied: wget in /Users/siddharthjain/miniconda3/lib/python3.7/site-packages (3.2)

In [1]:
import sys
sys.path.append('/Users/siddharthjain/miniconda3/lib/python3.7/site-packages')

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from subprocess import call
from scipy.stats.distributions import gamma,lognorm
import json 
import wget
import os
import os.path
#from collections import OrderedDict
# from google.colab import drive
# os.chdir('/content/gdrive/My Drive')
# drive.mount('/content/gdrive')

In [3]:
def n2z(x):
    x[np.logical_or(np.isnan(x),np.isinf(x))] = 0
    return x
wget.download('https://api.covid19india.org/data.json', os.getcwd()+"//national.json")
wget.download('https://api.covid19india.org/states_daily.json', os.getcwd()+"//states.json")

'/Users/siddharthjain/Desktop/backend/testing-and-cfr//states.json'

In [4]:
def fn(mon):
  if(mon == "01"):
    return " January"
  if(mon == "02"):
    return " February"
  if(mon == "03"):
    return " March"
  if(mon == "04"):
    return " April"
  if(mon == "05"):
    return " May"
  if(mon == "06"):
    return " June"
  if(mon == "07"):
    return " July"
  if(mon == "08"):
    return " August"
  if(mon == "09"):
    return " September"
  if(mon == "10"):
    return " October"
  if(mon == "11"):
    return " November"
  if(mon == "12"):
    return " December"
def convert(dat): 
    return  str(dat[:2]) + fn(str(dat[3:5]))

In [5]:
dates = np.array([pd.to_datetime(i['date']+"2020") for i in json.load(open('national.json',))['cases_time_series']])
confirmed = np.array([int(i['dailyconfirmed'])for i in json.load(open('national.json',))['cases_time_series']])
deceased = np.array([int(i['dailydeceased'])for i in json.load(open('national.json',))['cases_time_series']])
recovered = np.array([int(i['dailyrecovered'])for i in json.load(open('national.json',))['cases_time_series']])

confirmed = confirmed[dates>=pd.to_datetime("03/04/20")]
deceased = deceased[dates>=pd.to_datetime("03/04/20")]
recovered = recovered[dates>=pd.to_datetime("03/04/20")]
dates = dates[dates>=pd.to_datetime("03/04/20")]

In [6]:
conf = []

for n in range(100):
    print("Iteration: ",n+1,end='\r')
    dataset = np.copy(confirmed)
    mean = 13.0+(20.9-8.7)/4*np.random.normal()
    sd = 12.7+(26.0-6.4)/4*np.random.normal()
    phi = np.sqrt(sd**2 + mean**2)
    mu = np.log(mean**2/phi)
    sigma = np.sqrt(np.log(phi**2/mean**2))
    L = lognorm(s=sigma,scale=np.exp(mu))
    for i in range(len(dataset)-1,-1,-1):
        send_forward = np.round(L.rvs(dataset[i]))
        send_forward = send_forward[i+send_forward<len(dataset)]
        dataset[i] = 0
        for j in np.unique(np.int32(send_forward)):
            dataset[i+j] += np.sum(send_forward==j)
    conf.append(dataset)

In [7]:
CFR = np.cumsum(deceased)/np.cumsum(conf,axis=1)
col_mean = np.nanmean(CFR, axis=0)
inds = np.where(np.isnan(CFR))
CFR[inds] = np.take(col_mean, inds[1])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [8]:
temp=dates
dates=[]
for i in range(len(temp)):
  date=[]
  t=(str(temp[i])).split()[0]
  m=t[5:7]
  d=t[-2:]
  #print(m,t)
  date.append(d)
  date.append('/')
  date.append(m)
  date=''.join([str(elem) for elem in date])
  #print(date)
  dates.append(convert(date))

In [9]:
list(100*n2z(np.quantile(CFR,0.025,axis=0)))

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.5,
 2.0820668693009114,
 3.7735849056603774,
 3.3879310344827585,
 2.857142857142857,
 3.658318425760286,
 3.083333333333333,
 3.5873246250604742,
 3.043049431422604,
 2.4805394990366088,
 3.5129865212782065,
 3.590601084183674,
 3.365149984678069,
 3.219748368258331,
 3.9412390887800726,
 4.009508928571429,
 4.387836139733602,
 4.276262214983713,
 5.541072624104134,
 5.523001159710709,
 5.149612163932192,
 5.516246684350133,
 5.4215180187578484,
 5.100301273088903,
 5.236350447089477,
 5.052320485688022,
 5.263322884012539,
 5.205143330426045,
 5.7440563109037015,
 5.590417797647398,
 5.748980939455008,
 5.872091550288544,
 5.672340560487255,
 5.572701941102723,
 5.380718600316365,
 5.196043490960654,
 5.154066743851801,
 5.0783889390028865,
 4.984100195719823,
 4.828013287202474,
 4.827552104977144,
 4.703012046665624,
 4.614699477351916,
 4.630634613951243,
 4.5484019028746685,
 4.518624909628555,
 4.500896065342863,
 4.532706104191288,
 4.548744774263927,
 4.57931956612138,
 4.594367967328831,
 4.627843157677425,
 4.794979783394808,
 4.789878859144427,
 4.830631666171893,
 4.750627595377075,
 4.695484096604585,
 4.625721466086085,
 4.597517331025572,
 4.554924312879597,
 4.445629878794845,
 4.41282670048075,
 4.403497374519381,
 4.328974958190638,
 4.271163140001309,
 4.231796363502557,
 4.2221383626687325,
 4.177766132094145,
 4.148252522758375,
 4.0879215128907385,
 4.044228953985623,
 3.984025692807949,
 3.918224358945499,
 3.8625089505241212,
 3.803457658186055,
 3.7665922582560554,
 3.7447183773841486,
 3.707962781669337,
 3.7374700807976864,
 3.7106777780918607,
 3.6910906843765843,
 3.6525675908070223,
 3.62876965942018,
 3.6207667232101004,
 3.61585929095505,
 3.6115408985359343,
 3.6081632205669316,
 3.5833638459197683,
 3.5656659092053435,
 3.5490464716795076,
 3.5670930701777017,
 3.592869320052899,
 3.610514593591703,
 3.591797458389176,
 3.578041594371257,
 3.5917714888132473,
 4.166624420456354,
 4.137421081510312,
 4.1015527768066935,
 4.068626854146858,
 4.012445590064527,
 3.989234723680203,
 3.9330458230683263,
 3.9211318607448002,
 3.8955138644567677,
 3.857597862746514,
 3.8126723725270115,
 3.7716831097079657,
 3.7216647148441626,
 3.6773666375221294,
 3.65555494784255,
 3.620340816147674,
 3.5724006467608476,
 3.533630852283686,
 3.5231860190067716,
 3.476178961759171,
 3.4367450333211216]

In [10]:
json_data = {}
cfr1_point=list(100*n2z(np.cumsum(deceased)/np.cumsum(confirmed))),
cfr2_point=list(100*n2z(np.cumsum(deceased)/(np.cumsum(deceased)+np.cumsum(recovered)))),
cfr3_point=list(100*n2z(np.median(CFR,axis=0))),
cfr3_l95=list(100*n2z(np.quantile(CFR,0.025,axis=0))),
cfr3_u95=list(100*n2z(np.quantile(CFR,0.975,axis=0))),
cfr3_l50=list(100*n2z(np.quantile(CFR,0.25,axis=0))),
cfr3_u50=list(100*n2z(np.quantile(CFR,0.75,axis=0))),
india = {
         'dates':dates,
         'cfr1_point':list(100*n2z(np.cumsum(deceased)/np.cumsum(confirmed))),
         'cfr2_point':list(100*n2z(np.cumsum(deceased)/(np.cumsum(deceased)+np.cumsum(recovered)))),
         'cfr3_point':list(100*n2z(np.mean(CFR,axis=0))),
         'cfr3_l95':list(100*n2z(np.quantile(CFR,0.025,axis=0))),
         'cfr3_u95':list(100*n2z(np.quantile(CFR,0.975,axis=0))),
         'cfr3_l50':list(100*n2z(np.quantile(CFR,0.25,axis=0))),
         'cfr3_u50':list(100*n2z(np.quantile(CFR,0.75,axis=0))),
         }
#india = OrderedDict([('dates',dates),('cfr1_point',cfr1_point),('cfr2_point',cfr2_point),('cfr3_point',cfr3_point),('cfr3_l95',cfr3_l95),('cfr3_u95',cfr3_u95),('cfr3_l50',cfr3_l50),('cfr3_u50',cfr3_u50)])
json_data['India'] = india
cfr = pd.DataFrame()
cfr['state']=['India']*len(dates)
cfr['dates']=dates
cfr['cfr1_point']=list(100*n2z(np.cumsum(deceased)/np.cumsum(confirmed)))
cfr['cfr2_point']=list(100*n2z(np.cumsum(deceased)/(np.cumsum(deceased)+np.cumsum(recovered))))
cfr['cfr3_point']=list(100*n2z(np.median(CFR,axis=0)))
cfr['cfr3_l95']=list(100*n2z(np.quantile(CFR,0.025,axis=0)))
cfr['cfr3_u95']=list(100*n2z(np.quantile(CFR,0.975,axis=0)))
cfr['cfr3_l50']=list(100*n2z(np.quantile(CFR,0.25,axis=0)))
cfr['cfr3_u50']=list(100*n2z(np.quantile(CFR,0.75,axis=0)))
cfr

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in true_divide
  if sys.path[0] == '':
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in true_divide

,state,dates,cfr1_point,cfr2_point,cfr3_point,cfr3_l95,cfr3_u95,cfr3_l50,cfr3_u50
0,India,04 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,India,05 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,India,06 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,India,07 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,India,08 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,India,09 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,India,10 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,India,11 March,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,India,12 March,1.333333,50.000000,5.882353,2.500000,0.000000,4.347826,9.090909
9,India,13 March,1.176471,12.500000,4.761905,2.082067,76.250000,3.670635,7.142857
10,India,14 March,2.083333,22.222222,7.692308,3.773585,100.000000,6.202652,11.764706
11,India,15 March,1.886792,16.666667,6.350806,3.387931,45.250000,4.969512,9.523810
12,India,16 March,1.666667,15.384615,5.405405,2.857143,25.000000,4.255319,8.000000
13,India,17 March,2.142857,20.000000,6.666667,3.658318,28.461538,5.430195,9.450605
14,India,18 March,1.818182,20.000000,5.882353,3.083333,23.224432,4.597902,8.333333
15,India,19 March,2.083333,19.047619,6.666667,3.587325,24.047619,5.229420,9.523810
16,India,20 March,1.600000,16.666667,5.714286,3.043049,17.916667,4.532686,8.163265
17,India,21 March,1.219512,16.666667,5.000781,2.480539,13.833333,3.921569,6.694915
18,India,22 March,1.763224,25.925926,7.369238,3.512987,20.915775,5.633871,10.182225
19,India,23 March,1.832994,29.032258,8.000158,3.590601,21.191860,6.040268,11.250000
20,India,24 March,1.769912,21.276596,7.380174,3.365150,19.230769,5.464481,10.472074
21,India,25 March,1.689708,21.568627,6.606666,3.219748,18.052419,4.916366,9.382830
22,India,26 March,2.209945,25.396825,8.081014,3.941239,22.537313,5.850150,11.112742
23,India,27 March,2.166477,20.879121,7.676799,4.009509,22.654360,5.864198,10.857143
24,India,28 March,2.369200,22.641509,8.219274,4.387836,24.458716,6.357649,11.665949
25,India,29 March,2.383054,21.428571,7.954960,4.276262,23.551213,6.146990,11.088437
26,India,30 March,3.106061,23.428571,10.226728,5.541073,29.713757,7.926540,14.236111
27,India,31 March,2.885206,24.226804,10.000045,5.523001,29.690339,7.826957,13.864671
28,India,01 April,2.581588,24.200913,9.760887,5.149612,28.094894,7.553572,13.159543
29,India,02 April,2.717605,26.848249,10.697674,5.516247,30.273222,8.401885,14.595760
...,...,...,...,...,...,...,...,...,...
95,India,07 June,2.798707,5.498623,4.355053,3.583364,5.968625,4.057810,4.827421
96,India,08 June,2.810775,5.477937,4.320555,3.565666,5.898129,4.022209,4.783931
97,India,09 June,2.807680,5.441752,4.282399,3.549046,5.828203,3.992426,4.735362
98,India,10 June,2.823273,5.439771,4.289873,3.567093,5.810822,4.004672,4.735228
99,India,11 June,2.849968,5.467936,4.308871,3.592869,5.807446,4.028335,4.751206
100,India,12 June,2.871217,5.449329,4.321848,3.610515,5.797589,4.042243,4.755767
101,India,13 June,2.859817,5.362577,4.288672,3.591797,5.729110,4.013874,4.713552
102,India,14 June,2.859168,5.313497,4.262383,3.578042,5.666638,3.990814,4.675976
103,India,15 June,2.890989,5.213442,4.262702,3.591771,5.642656,3.995999,4.672280
104,India,16 June,3.366351,5.976869,4.925394,4.166624,6.482668,4.622114,5.385909
105,India,17 June,3.339051,5.932753,4.875696,4.137421,6.387143,4.581848,5.319472
106,India,18 June,3.307889,5.788304,4.826034,4.101553,6.289935,4.537667,5.262037
107,India,19 June,3.276667,5.709205,4.780474,4.068627,6.205922,4.501671,5.209386
108,India,20 June,3.224796,5.499070,4.717291,4.012446,6.095481,4.445144,5.134607
109,India,21 June,3.210135,5.460631,4.691507,3.989235,6.037562,4.419166,5.100000
110,India,22 June,3.182142,5.346537,4.622677,3.933046,5.933119,4.354835,5.022006
111,India,23 June,3.175522,5.303921,4.601530,3.921132,5.887673,4.337914,4.996539
112,India,24 June,3.151917,5.201784,4.565963,3.895514,5.826624,4.304823,4.954788
113,India,25 June,3.116736,5.086418,4.518903,3.857598,5.756246,4.264551,4.902681
114,India,26 June,3.079840,5.035221,4.465836,3.812672,5.678201,4.212643,4.843508
115,India,27 June,3.040877,4.936122,4.420468,3.771683,5.610933,4.168581,4.793917
116,India,28 June,3.002218,4.874314,4.363975,3.721665,5.534709,4.114071,4.732607
117,India,29 June,2.978681,4.800143,4.312056,3.677367,5.469416,4.064961,4.679442
118,India,30 June,2.972231,4.766898,4.280772,3.655555,5.429979,4.038943,4.643915
119,India,01 July,2.949185,4.725083,4.233409,3.620341,5.365611,3.994623,4.587934
120,India,02 July,2.906253,4.578187,4.170586,3.572401,5.282511,3.937036,4.516181
121,India,03 July,2.872979,4.520955,4.123677,3.533631,5.216211,3.893373,4.462810
122,India,04 July,2.861251,4.501512,4.109700,3.523186,5.193113,3.881886,4.446972
123,India,05 July,2.823414,4.431674,4.052982,3.476179,5.116668,3.827319,4.384264
124,India,06 July,2.800888,4.383000,4.005269,3.436745,5.053948,3.784835,4.331792

In [11]:
states = list(filter(lambda v:len(v)<3,list(json.load(open('states.json',))['states_daily'][0].keys())))

In [12]:
dates = np.array([pd.to_datetime(i['date']) for i in filter(lambda v: v['status'] == 'Confirmed',json.load(open('states.json',))['states_daily'])])
#print(dates)
data_recovered = pd.DataFrame()
data_deceased = pd.DataFrame()
data_confirmed = pd.DataFrame()
for st in states:
    data_confirmed[st] = np.array([i[st] for i in filter(lambda v: v['status'] == 'Confirmed',json.load(open('states.json',))['states_daily'])])
    data_deceased[st] = np.array([i[st] for i in filter(lambda v: v['status'] == 'Deceased',json.load(open('states.json',))['states_daily'])])
    data_recovered[st] = np.array([i[st] for i in filter(lambda v: v['status'] == 'Recovered',json.load(open('states.json',))['states_daily'])])

In [13]:
data_recovered = data_recovered.replace(r'^\s*$', np.NaN, regex=True).fillna(0)
data_recovered = data_recovered.astype(np.int32)
data_confirmed = data_confirmed.replace(r'^\s*$', np.NaN, regex=True).fillna(0)
data_confirmed = data_confirmed.astype(np.int32)
data_deceased = data_deceased.replace(r'^\s*$', np.NaN, regex=True).fillna(0)
data_deceased = data_deceased.astype(np.int32)
data_deceased['date'] = dates
data_recovered['date'] = dates
data_confirmed['date'] = dates

In [ ]:
final=pd.DataFrame
plt.figure(1, figsize=(15, 7))
state_id = {
  "mh":"Maharashtra",
  "tn":"Tamil Nadu",
  "dl":"Delhi",
  "gj":"Gujarat",
  "rj":"Rajasthan",
  "up":"Uttar Pradesh",
  "mp":"Madhya Pradesh",
  "wb":"West Bengal",
  "ka":"Karnataka",
  "br":"Bihar",
  "ap":"Andhra Pradesh",
  "hr":"Haryana",
  "tg":"Telangana",
  "jk":"Jammu and Kashmir",
  "or":"Odisha",
  "pb":"Punjab",
  "as":"Assam",
  "kl":"Kerala",
  "ut":"Uttarakhand",
  "jh":"Jharkhand",
  "ct":"Chhattisgarh",
  "tr":"Tripura",
  "hp":"Himachal Pradesh",
  "ch":"Chandigarh",
  "ga":"Goa",
  "mn":"Manipur",
  "nl":"Nagaland",
  "py":"Puducherry",
  "la":"Ladakh",
  "ar":"Arunachal Pradesh",
  "an":"Andaman and Nicobar Islands",
  "ml":"Meghalaya",
  "mz":"Mizoram",
  "dn":"Dadra and Nagar Haveli and Daman and Diu",
  "sk":"Sikkim",
}

for state in state_id.keys():
    boots = 100
    conf = []
    for n in range(boots):
        #print("Iteration: ",n+1,end='\r')
        dataset = np.copy(data_confirmed[state].values)
        mean = 13.0+(20.9-8.7)/4*np.random.normal()
        sd = 12.7+(26.0-6.4)/4*np.random.normal()
        phi = np.sqrt(sd**2 + mean**2)
        mu = np.log(mean**2/phi)
        sigma = np.sqrt(np.log(phi**2/mean**2))
        L = lognorm(s=sigma,scale=np.exp(mu))
        for i in range(len(dataset)-1,-1,-1):
            send_forward = np.round(L.rvs(np.max([dataset[i],0])))
            send_forward = send_forward[i+send_forward<len(dataset)]
            dataset[i] = 0
            for j in np.unique(np.int32(send_forward)):
                dataset[i+j] += np.sum(send_forward==j)
        conf.append(dataset)
    CFR = np.cumsum(data_deceased[state].values)/np.cumsum(conf,axis=1)
    col_mean = np.nanmean(CFR, axis=0)
    inds = np.where(np.isnan(CFR))
    CFR[inds] = np.take(col_mean, inds[1])
    temp1=list(pd.Series(dates).dt.strftime('%m-%d-%Y'))
    #print(temp1[0])
    dates1=[]
    for i in range(len(temp1)):
      date=temp1[i][3:5]+'/'+temp1[i][0:2]
      dates1.append(convert(date))
    temp = {
        'dates':dates1,
        'cfr1_point':list(n2z(100*np.cumsum(data_deceased[state].values)/np.cumsum(data_confirmed[state].values))),
        'cfr2_point':list(n2z(100*np.cumsum(data_deceased[state].values)/(np.cumsum(data_deceased[state].values)+np.cumsum(data_recovered[state].values)))),
        'cfr3_point':list(n2z(100*np.median(CFR,axis=0))),
        'cfr3_l95':list(n2z(100*np.quantile(CFR,0.025,axis=0))),
        'cfr3_u95':list(n2z(100*np.quantile(CFR,0.975,axis=0))),
        'cfr3_l50':list(n2z(100*np.quantile(CFR,0.25,axis=0))),
        'cfr3_u50':list(n2z(100*np.quantile(CFR,0.75,axis=0))),
        }
    a=state_id[state]
    #print(a)
    json_data[str(a)] = temp
    cfr_state=pd.DataFrame()
    cfr_state['state']=[str(a)]*len(dates)
    cfr_state['dates']=dates1
    cfr_state['cfr1_point']=(list(100*n2z(np.cumsum(data_deceased[state].values)/np.cumsum(data_confirmed[state].values))))
    cfr_state['cfr2_point']=(list(100*n2z(np.cumsum(data_deceased[state].values)/(np.cumsum(data_deceased[state].values)+np.cumsum(data_recovered[state].values)))))
    cfr_state['cfr3_point']=(list(100*n2z(np.median(CFR,axis=0))))
    cfr_state['cfr3_l95']=(list(100*n2z(np.quantile(CFR,0.025,axis=0))))
    cfr_state['cfr3_u95']=(list(100*n2z(np.quantile(CFR,0.975,axis=0))))
    cfr_state['cfr3_l50']=(list(100*n2z(np.quantile(CFR,0.25,axis=0))))
    cfr_state['cfr3_u50']=(list(100*n2z(np.quantile(CFR,0.75,axis=0))))
    cfr=pd.concat([cfr, cfr_state])
      
    plt.plot(temp['cfr3_point'],label=state)
plt.legend()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:60: RuntimeWarning: divide by zero encountered in true_divide
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:60: RuntimeWarning: invalid value encountered in true_divide
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:73: RuntimeWarning: invalid value encountered in true_divide
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:87: RuntimeWarning: invalid value encountered in true_divide
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:61: RuntimeWarning: Mean of empty slice
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median for 1 results
  r = func(a, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:72: RuntimeWarning: invalid value encountered in true_divide
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: Invalid value encountered in median for 5 results
  r = func(a, **kwargs)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:86: RuntimeWarning: invalid value encountered in true_divide

In [15]:
cfr.to_csv('cfr.csv',index=False)
from datetime import datetime
json_data['datetime']=str(datetime.now())

In [16]:
json_data_indented = json.dumps(json_data, indent = 4)
with open("cfr.json", "w") as outfile: 
    outfile.write(json_data_indented)